<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061473741422-lth3hgm0a88o4h2ga132bl5fet0r1olb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061473741422-lth3hgm0a88o4h2ga132bl5fet0r1olb</string>
	<key>API_KEY</key>
	<string>AIzaSyAM7Fm3AG_vKbyOzH5ciJR5GffTU3VXxsg</string>
	<key>GCM_SENDER_ID</key>
	<string>1061473741422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gatech.CRUD</string>
	<key>PROJECT_ID</key>
	<string>crud-8c75d</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-8c75d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061473741422:ios:9ab4e88ef2cd31c542d47f</string>
	<key>DATABASE_URL</key>
	<string>https://crud-8c75d.firebaseio.com</string>
</dict>
</plist>